@charset "utf-8";

    .container{
      height:100vh;
      _height:500px;
      background-attachment: fixed;
      background-size:cover;
    }
    .container.one{
      background-image: url(../../images/w01.jpg);
    }
    .container.two{
      background-image: url(../../images/w02.jpg);
    }
    .container.three{
      background-image: url(../../images/w03.jpg);
    }
    .container header{
      position:relative;
      left:50%;
      top:50%;
      width:400px;
      height:80px;
      background: #ddd;
      margin-left:-200px;
      margin-top:-40px;
      display:inline-block;
      text-align:center;
    }
    
